:root {
  --clr-primary-100: #F0F0F0;
  --clr-primary-200: #C8C8C8;
  --clr-primary-400: #3D3D3D;
  --clr-primary-500: #DD0051;
}

@media (min-width: 1201px) {
  

  .header-container {
    max-width: 600px;
    margin-bottom: 48px;
  }

  .login-header {
    font-size: 36px;
    color: #3D3D3D;
  }

  .anmelden-button-container,
  .passwort-vergessen {
    flex: 2;
  }

  .personalnummer-container,
  .passwort-container {
    color: #C8C8C8;
    margin-bottom: 12px;
  }

  #personalnummer,
  #passwort {
    height: 48px;
    flex: 2;
    border-style: none;
    border-radius: 4px;
    background-color: #F0F0F0;
    color: #3D3D3D;
    font-size: 20px;
    padding-left: 12px;
    margin-left: 4px;
  }

  .passwort-vergessen {
    text-decoration: none;
    color: #C8C8C8;
    margin-top: 12px;
    text-align: center;
  }

  .smarttimemanager-logo {
    max-height: 100%;
    max-width: 100%;
  }

  #kommen-button {
    margin-right: 4px;
  }
}